doctype html
html(lang='en')
head
  link(rel="stylesheet" href="/CSS/header.css")
body
  div(class='header')
    div(class='center_header')
      button(class='button') Home
      img(src="/IMG/logo.jpg", alt="" class="logo_img")
      button(class='button') Menu 
      div(class='cart_div')
        a(href="mailto:ahmedsabah.oneplus@gmail.com" class='cart_info') 
          img(src="/IMG/cart.png", href alt="" class='cart_img')
          p(class='cart_txt') 1000 kr


          



