@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

:root {
    --color_brown: #241819;
    --color_yellow: #FFE22C;
    --color_white: #FFFFFF;
    
    --primary_font: 'Noto Sans', sans-serif;
  }


body{
    margin: 0px;
}

.header{
    font-family: var(--primary_font);
    position: fixed;
    width: 100%;
    height: 4.5em;    
    background-color: var(--color_yellow);
    display: flex;
    justify-content: center;    
    padding: 5px;
}

.center_header{
    border: 1px solid black;
    height: 4em;
    display: flex;
    justify-content: center;   
    width: 800px;
}

.cart_div{
    display: inline-block;
    height: 3em;   
}

.cart_info{
    text-decoration: none;
    color: var(--color_white);
    border: 1px solid black;
    display: inline-block;
}


.button{
    font-family: var(--primary_font);

}

.cart_img{
    max-height: 35px;
    width: 100%;

}

.cart_txt{
    font-size: 11px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-decoration: none;
    
}
