@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');


:root {
    --color_brown: #241819;
    --color_yellow: #FFE22C;
    --color_yellow_hover: rgb(230, 205, 49);
    --color_white: #FFFFFF;
    
    --primary_font: 'Noto Sans', sans-serif;
  }


body{
    margin: 0px;
}

.header{
    font-family: var(--primary_font);
    position: fixed;
    width: 100%;
    height: 4.5em;    
    background-color: var(--color_yellow);
    display: flex;
    justify-content: center;
}

.logo_img{
    max-width: 100%;
    height: 4.5em;
}

.center_header{
    height: 4.5em;
    display: flex;
    justify-content: center;   
    width: 1000px;
}

.cart_div{
    position: absolute;
    height: 100%;
    width: 5em;
    text-align: center;
    margin-left: 85%;
}

.cart_info{
    text-decoration: none;
    color: var(--color_white);
    display: inline-block;
}


.button{
    font-family: var(--primary_font);
    color: var(--color_white);
    border: none;
    font-size: 20px;
    width: 125px;

    background-color: transparent;
}

.button:hover, .cart_div:hover{
    opacity: 0.9;
    cursor: pointer;
    background-color: var(--color_yellow_hover);
}

.cart_img{
    padding-top: 20%;
    margin-bottom: 0px;
    height: 45px;
    width: 45px;
    transform: scaleX(-1);

}

.cart_txt{
    font-family: sans-serif;
    position: absolute;
    font-size: 14px;
    top: 60%;
    text-decoration: none;
    font-weight: lighter;
}
