@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

:root {
    --color_brown: #241819;
    --color_yellow: #FFE22C;
    --color_white: #FFFFFF;
    
    --primary_font: 'Noto Sans', sans-serif;
  }

#lorem{
    font-family: var(--primary_font);
    font-size: 25px;
    border: 1px solid black;
}

#lorem2{
    font-family: var(--primary_font2);
    font-size: 25px;
    border: 1px solid black;
}

#lorem3{
    font-family: var(--primary_font3);
    font-size: 25px;
    border: 1px solid black;
}

#div1{
    height: 5em;
    width: 100%;
    background-color: var(--color_brown);
}

#div2{
    height: 5em;
    width: 100%;
    background-color: var(--color_yellow2);
}

#div22{
    height: 5em;
    width: 100%;
    background-color: var(--color_yellow);
}

#div3{
    height: 5em;
    width: 100%;
    background-color: var(--color_white);
}

.casper{
    width: 150px;
}

