HTML
head 
    link(rel="stylesheet", href="../CSS/menu.css")
    script(defer src="../JS/addToCartEvent.js")
    script(defer src="../JS/swapNode.js") 
    script(defer src="../JS/setScrollY.js") 

body
    include header.pug 
    br
    h1(style="margin: 100px") Siden findes ikke :C
    a(href="/Menu?" style="margin: 100px") Vil du måske købe noget mad?