html(lang="en")
    head 
        link(rel="stylesheet" href="../CSS/admin.css")
    body
        div(id="real-body")
            h1= "Velkommen til admin siden: "+navn
            div(id="åbningstider:")
                label Tid - f.eks. 15.00-21.00
                input(type = "tid" id = "tid_id")
            div(id="holdeplads")
                label Holdeplads - f.eks. Hveensgade 1, 8000 Aarhus C
                input(type = "holdeplads" id = "holdeplads_id")
            div(id="xkoordinat")
                label X-koordinaten - f.eks. 54.104
                input(type="x-koordinat" id = "xkoordinat")
            div(id="ykoordinat")
                label Y-koordinaten - f.eks. 10.403
                input(type="y-koordinat" id = "ykoordinat")