html(lang="en")
    head 
        title Admin 
        link(rel="stylesheet" href="../CSS/admin.css")
        script(defer type="module" src="../JS/admin.js") 
    body
        h2(id="login")= ""
        div(id="real-body")
            h1= "Velkommen til admin siden: "+navn
            h2= "Tilføj en madvogn"
            form(id="madvogn")
                p
                    |   Madvogne navn (bare så du kan kende madvogen): 
                    input(type='text', name='madvogn', value='')
                    |   Madvogns adresse (fx Regnbuevej 54):
                    input(type='text', name='Adresse', value='')
                    |   Madvogn placering i længde og breddegrader(fx 56.1631694,10.2196941):
                    input(type='text', name='Placering', value='')
                    |   Beskrivelse(noget med åbningstider):
                    input(type='text', name='Beskrivelse', value='')
                input(id = "addmadvogne",type='submit', value='Tilføj')
            h2 Tilføj en ret
            form(id="retmad")
                p
                    |   Overmenu fx forretter: 
                    input(type='text', name='overmenu', value='')
                    |   OverUnderMenu(FX kød eller vegetar)*kan godt være ingenting: 
                    input(type='text', name='undermenu', value='')
                    |   Retnavn (fx Butterchicken): 
                    input(type='text', name='retnavn', value='')
                    |   Beskrivelse 
                    input(type='text', name='beskrivelse', value='')
                    |   Pris
                    input(type='text', name='pris', value='')
                input(id="addret",type='submit', value='Tilføj')
            h2 Opdater ret
            form(id="formretmad")
                p
                    |   Overmenu fx forretter: 
                    input(type='text', name='overmenu', value='')
                    |   OverUnderMenu(FX kød eller vegetar): 
                    input(type='text', name='undermenu', value='')
                    |   Retnavn (fx Butterchicken): 
                    input(type='text', name='retnavn', value='')
                    |   Beskrivelse 
                    input(type='text', name='beskrivelse', value='')
                    |   Pris
                    input(type='text', name='pris', value='')
                input(id="upretmad",type='submit', value='Opdater')
                
            h2 Opdater Madvogn
            form(id="formmadvogn")
                p
                    |   Madvogne navn (bare så du kan kende madvogen): 
                    input(type='text', name='madvogn', value='')
                    |   Madvogns adresse (fx Regnbuevej 54):
                    input(type='text', name='Adresse', value='')
                    |   Madvogn placering i længde og breddegrader(fx 56.1631694,10.2196941):
                    input(type='text', name='Placering', value='')
                    |   Beskrivelse(noget med åbningstider):
                    input(type='text', name='Beskrivelse', value='')
                input(id = "upmadvogne",type='submit', value='Opdater')
                