html(lang="en")
    head 
        title Admin Login 
        script(type="module" src="../JS/admin.js") 
        link(rel="stylesheet" href="../CSS/admin.css")
    body
        button(id="login") login