doctype html 
html(lang='en')
head 
    link(rel="stylesheet" href="../CSS/footer.css")
body 
    footer(class = 'footer')
        div(class='company_info')
            ul
                h3 Ammis Butterchicken 
                li 
                    a(href="/menu") Vores menu 
                li 
                    a(href="/") Om os
                li 
                    a(href="/Contact") Kontakt os
        div(class='social_media')
            ul 
                h3 Sociale Medier 
                a(href="https://www.facebook.com/Ammisbutterchicken" target="_blank") 
                    img(src="../IMG/facebook.png", alt="" class="media_img")
                a(href="https://www.instagram.com/ammisbutterchicken/"  target="_blank") 
                    img(src="../IMG/instagram.png", alt="" class="media_img")

                