doctype html
html(lang='en')
head
  link(rel="stylesheet" href="../CSS/header.css")
body
  div(class='header')
    div(class='center_header')
      form(action="/" class="f_button") 
        button(class='button' type='submit') Hjem 
      a(href="/") 
        img(src="/IMG/logo.png", alt="" class="logo_img") 
      form(action="/Menu" class="f_button") 
        button(class='button' type='submit') Menu 
      div(class='cart_div')
        a(href="/Cart" class='cart_info') 
          img(src="/IMG/cart.png", href alt="" class='cart_img')
          if quantity != 0
            p(id="cart_quantity")= quantity
          else 
          
          p(class='cart_txt')= total + "  DKK"




          



