doctype 
html(lang="en")
    head 
        link(rel="stylesheet" href="../CSS/home.css")
        script(defer src="../JS/menuCardMovement.js") 
        link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="")
        script(defer src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="")
        script(defer src="../JS/map.js") 

        include header.pug 

    body
        div(id="real-body")
            div(id="section_1")
                div(id="img_bg")
                p(id="titel") Ammis Butterchicken
                p(id="under_titel") Direkte fra mors opskrift
                
            div(id="section_2")
                div(id="cards")
                    a(href="/menu#Hovedretter") 
                        div(class="container")
                            div(class="card")
                                img(src="../IMG/home_img1.jpg", alt="" class="card_img")
                                p(class="card_img_txt") Dhal
                    a(href="/menu#Forretter") 
                        div(class="container")
                            div(class="card")
                                img(src="../IMG/Retter/Beef Paratha.png", alt="" class="card_img")
                                p(class="card_img_txt") Paratha
                    a(href="/menu#Forretter") 
                        div(class="container")
                            div(class="card")
                                img(src="../IMG/Retter/Beef Samosa.png", alt="" class="card_img")
                                p(class="card_img_txt") Samosa
                    a(href="/menu#Hovedretter") 
                        div(class="container")
                            div(class="card")
                                img(src="../IMG/home_img4.jpg", alt="" class="card_img")
                                p(class="card_img_txt") Butterchicken
            div(id="section_3")
                div(id="india_bg")
                    img(src="../IMG/india.jpg" id="india_img")
                div(id="glass_div")
                    p(id="vogn_txt") HAloloo TEST MAN!


            div(id="map")

                

include footer.pug

