doctype 
html(lang="en")
    head 
        link(rel="stylesheet" href="../CSS/home.css")
        script(defer src="../JS/menuCardMovement.js") 
        link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="")
        script(defer src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="")
        script(defer src="../JS/map.js") 
        <meta name="viewport" content="width=device-width, initial-scale=1">

        script(defer src="../JS/setInfo.js")

        include header.pug 

    body
        input(type="hidden" id ="kortdata" value= kort)
        div(id="real-body")
            div(id="section_1")
                div(id="img_bg")
                p(id="titel") Ammis Butterchicken
                p(id="under_titel") Direkte fra mors opskrift
                
            div(id="section_2")
                div(id="cards")
                    a(href="/menu#Hovedretter") 
                        div(class="container")
                            div(class="card")
                                img(src="../IMG/home_img1.jpg", alt="" class="card_img")
                                p(class="card_img_txt") Dhal
                    a(href="/menu#Forretter") 
                        div(class="container")
                            div(class="card")
                                img(src="../IMG/Retter/Beef Paratha.png", alt="" class="card_img")
                                p(class="card_img_txt") Paratha
                    a(href="/menu#Forretter") 
                        div(class="container")
                            div(class="card")
                                img(src="../IMG/Retter/Beef Samosa.png", alt="" class="card_img")
                                p(class="card_img_txt") Samosa
                    a(href="/menu#Hovedretter") 
                        div(class="container")
                            div(class="card")
                                img(src="../IMG/home_img4.jpg", alt="" class="card_img")
                                p(class="card_img_txt") Butterchicken
            div(id="section_3")
                img(src="../IMG/nicepic.jpg" id="velkommen_img")
                div(id="txt1")
                    div(id="txt_div")
                        p(id="vogn_txt_head") Velkommen til Aarhus' bedste Butterchicken
                    div(id="txt_div2")
                        p(class="vogn_txt") Ammis Butterchicken er en lille, lokal og traditionel indisk madvogn, der tilbyder retter inden for det sydasiatiske køkken. Specialiteterne er tilberedt med inspiration fra mors opskrifter, der gennem generationer er gået i arv.
                        p
                        p(class = "vogn_txt") Vores udvalg strækker sig fra klassiske kyllingeretter som Butterchicken til vegetar-retter som Veggie Paratha.
                        p
                        p(class = "vogn_txt") Vælg dine retter på menu-siden, tilføj dem til indkøbskurven, betal med MobilePay og afhent efter 30 minutter!
                
            div(id="section_4")
                div(id="txt2")
                    div(id="txt_div3")
                        p(id="map_txt_head") Holdepladser og åbningstider
                    div(id="txt_div4")
                        p(id="map_txt") Vores åbningstider er: 
                        p
                        p(id = "map_tider") Onsdag-Mandag : Åbent fra 15.00 til 21.00
                        p
                        p(id = "map_txt2") Vi holder i øjeblikket på følgende adresse: 
                        p
                        p(id = "map_holdeplads") Hveensgade 1, 8000 Aarhus C
                div(id="map")

                

include footer.pug

