HTML
head 
    link(rel="stylesheet", href="../CSS/menu.css")
    script(defer src="../JS/addToCartEvent.js")
body
    include header.pug 
    div(style="padding-top: 8%;")
        each val in items
            each ret in val 
                if typeof ret === 'object'
                    div(class="produkt")
                        img(src="../IMG/1.jpg", alt="" class="produkt_img")
                        p(class="produkt_title")= val.docID
                        p(class="produkt_pris")= ret.Pris +" -.kr"
                        button(type="button" class="addBtn") add to cart

//val.docID

