@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* https://htmlcolorcodes.com/color-picker/
 */


 :root {
    --color_brown: #241819;
    --color_orange: #ffa600;
    --color_hover_oragne: #dd9104;
    --color_white: #FFFFFF;
    --color_black: #000000;
    --color_grey: #616161;
    --color_lighter_grey: #b8b8b8;

    
    --primary_font: 'Fredoka One', cursive;
  }

body{
    font-family: var(--primary_font);
    display: flexbox;
    justify-content: space-between;
}

#dent{
  padding-bottom: 85px;
}

#body{
  position: relative;
  display: block;
  font-family: var(--primašy_font);
  width: 800px;
  float: left;
  background-color: var(--color_white);
  height: 100%;
  padding-bottom: 200px;
  margin-left: 15%;
  margin-right: 5%;
}

#cartTitle{
  text-align: center;
  margin-bottom: 50px;
}

#table{
    width: 100%;
    border-collapse: collapse;
}

#th_product{
  text-align: center;
}

#th_price{
  text-align: right;
}

#th_quantity{
  text-align: right;

}

#th_total{
  text-align: right;

}

.cart_tr{
  border-top: 1px solid var(--color_lighter_grey);
  border-bottom: 1px solid var(--color_lighter_grey);
}


.tc_product{
  padding: 10px;
  display: inline-flex;
  position: relative;
}

.product_img{
  position: relative;
  max-height: 100%;
  width: 175px;
  object-fit: contain;
  border-radius: 25px;
}

.product_title{
  width: 100%;
  padding-left: 100%;
  position:absolute;
  top: 30%;
  bottom: 30%;
  overflow: hidden;
  height: 100%;
}

.tc_price{
  color: var(--color_grey);
  text-align: right;
}

.product_price{
  display: inline-block;
}

.tc_quantity{
  text-align: right;
}

.product_quantity{
  display: inline-block;
}


.tc_total{
  color: var(--color_grey);
  text-align: right;
}

.product_total{
  display: inline-block;
}


.tc_cancel{
  text-align: center;
  padding-left: 35px;
}

.cancel_btn{
  background: transparent;
  border: none;
  cursor: pointer;
}

.cancel{
  height: 100%;
  width: 30px;
}

.cancel:hover{
  opacity: 50%;
  cursor: pointer
}

#kunde_info{
  position: relative;
  overflow: hidden;
  border: 1px solid;
  border-radius: 25px;
  padding: 25px;
  width: 400px;
}

.input_kunde{
  display: flex;
  margin: 0px 0px 20px 0px;
  border-radius: 10px;
  border: 1px solid;
  padding-left: 5px;
}

#kunde_navn{
 width: 200px;
 height: 30px;
}

#kunde_email{
  width: 300px;
  height: 30px;
}

#time{
  width: 90px;
  height: 30px;
}

#betaling {
  display: inline-block;
  position: relative;
}

.knap {  
  height: 75px;
  width: 200px;
  text-align: center;
  background-color: var(--color_orange);
  border: none;
  padding: 5%;
  text-decoration: none;
  border-radius: 10px;
}

.knap:hover {
  opacity: 50%;
  cursor: pointer;
}

#betal_text {
  font-family: var(--primary_font);
  font-size: 1.1rem;
  word-spacing: 3px;
  padding-bottom: 10px;
}

#th_betal{
  padding-bottom: 20px;
  font-size: 28px;
  text-align: center;
}

#modal {
  display: none;
  position: absolute;
  padding-top: 250;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  z-index: 200000;
}

#modal_content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 16em;
  border: 1px solid #888;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


#betalingsliste{
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.modal_tr{
  text-align: center;
}

#kontant {
  width: 160px;
  height: auto;
  padding: 0;
}


#kontant:hover {
  opacity: 50%;
  cursor: pointer
}

#stripe {
  width: 100px;
  height: auto;
}

#stripe:hover {
  opacity: 50%;
  cursor: pointer;
}

#mobilepay {
  width: 140px;
  height: auto;
}

#mobilepay:hover {
  opacity: 50%;
  cursor: pointer
}








