@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');


/* https://htmlcolorcodes.com/color-picker/
 */


 :root {
    --color_brown: #241819;
    --color_orange: #ffa600;
    --color_hover_oragne: #dd9104;
    --color_white: #FFFFFF;
    --color_black: #000000;
    --color_grey: #616161;
    --color_lighter_grey: #b8b8b8;

    
    --primary_font: 'Noto Sans', sans-serif;
  }

body{
    margin: 0px;
}


.header{
    font-family: var(--primary_font);
    position: fixed;
    width: 100%;
    height: 4.5em;    
    background-color: var(--color_orange);
    display: flex;
    justify-content: center;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
    z-index: 10;
}   

.logo_img{
    max-width: 100%;
    height: 4.5em;
    animation: logoScale 3s alternate infinite;
}

.center_header{
    height: 4.5em;
    display: flex;
    justify-content: center;   
    width: 1000px;
}


.button{
    font-family: var(--primary_font);
    color: var(--color_white);
    border: none;
    font-size: 20px;
    height: 100%;
    width: 125px;

    background-color: transparent;
}

.f_button{
    height: 100%;
}

.button:hover, .cart_div:hover{
    opacity: 0.9;
    cursor: pointer;
    background-color: var(--color_hover_oragne);
}


.cart_div{
    position: absolute;
    height: 100%;
    width: 125px;
    margin-left: 85%;
    text-align: center;
}

.cart_info{
    text-decoration: none;
    color: var(--color_white);
    display: inline-block;
    height: 100%;
    width: 100%;
}

.cart_img{
    padding-top: 5%;
    padding-bottom: 5%;
    height: 45px;
    width: 45px;
    transform: scaleX(-1);
}

#cart_quantity{
    position: absolute;
    font-size: 15px;
    top: 2%;
    left: 55%;
    border: 1px solid red;
    border-radius: 50%;
    background-color: red;
    width: 18px;
    text-align: center;
    margin: 0%;
}

.cart_txt{
    font-weight: bold;
    font-variant: small-caps;
    position: absolute;
    font-size: 14px;
    letter-spacing: 1px;
    width: 100%;
    top: 55%;
    text-decoration: none;
}

@keyframes logoScale{
    0%
    {   
        transform: scale(100%);
    }

    100%
    {
        transform: scale(110%);
    }
}
