:root {
    --color_brown: #241819;
    --color_orange: #ffa600;
    --color_hover_oragne: #dd9104;
    --color_white: #FFFFFF;
    --color_black: #000000;
    --color_grey: #616161;
    --color_lighter_grey: #b8b8b8;
    

    --primary_font: 'Fredoka One', cursive;
  }

  #header{
      position: relative;
      display: block;
      top: 12%;
      text-align: center;
}


#content{
    position: relative;
    display: block;
    top: 15%;
    margin: 0 auto;
    margin-bottom: 20%;
}

#contact-form{
    display: flex;
    background-color: var(--color_orange);
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    max-width: 500px;
    justify-content: space-around;
    
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    width: fit-content;
}

.form_ele{
    border-radius: 10px;
    border: none;
    margin-bottom: 25px;
    width: 400px;
}

#email{
    min-width: fit-content;
    height: 40px;
}

#name{
    min-width: fit-content;
    height: 40px;
   
}

#subject{
    min-width: fit-content;
    height: 40px;
  
}

#text{
    min-width: fit-content;
    height: 200px;
}

#submit{
    margin: 0 auto;
    height: 60px;
    width: 120px;
    background-color: #000000;
    color: white;
    font-family: var(--primary_font);
    font-size: 24px;
}

#submit:hover{
    color: #ffffff90;
}

@media only screen and (max-width: 700px){

    #header{
        position: relative;
        display: block;
        top: 12%;
        text-align: center;
  }
  
  
  #content{
      position: relative;
      display: block;
      top: 15%;
      margin: 0 auto;
      margin-bottom: 50%;
  }
  
  #contact-form{
      display: flex;
      background-color: var(--color_orange);
      margin: 0 auto;
      padding: 10px;
      border-radius: 15px;
      text-align: center;
      max-width: 300px;
      justify-content: space-around;
      
  }
  
  #form{
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 150px;
      width: fit-content;
  }
  
  .form_ele{
      border-radius: 10px;
      border: none;
      margin-bottom: 25px;
      width: 200px;
  }
  
  #email{
      min-width: fit-content;
      height: 40px;
  }
  
  #name{
      min-width: fit-content;
      height: 40px;
     
  }
  
  #subject{
      min-width: fit-content;
      height: 40px;
    
  }
  
  #text{
      min-width: fit-content;
      height: 200px;
  }
  

  
}
