@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');


/* https://htmlcolorcodes.com/color-picker/
 */

:root {
    --color_brown: #241819;
    --color_yellow: #FFE22C;
    --color_yellow_hover: rgb(230, 205, 49);
    --color_white: #FFFFFF;
    
    --primary_font: 'Noto Sans', sans-serif;
  }



#bg_img{
    position: absolute;
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: none;
}

.window{
    position: absolute;
    margin-top: 100px;
    margin-left: -500px;
    left: 50%;
    width: 1000px;
    height: 300px;
    text-align: center;
    background-color: #FFFFFF10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 25px;
    z-index: 1;
}

.title{
    font-family: var(--primary_font);
    display: inline-block;
    font-size: 65px;
    max-height: 30px;
    color: var(--color_white);
    letter-spacing: 4px;
    margin: 20px;
}

.sub_title{
    font-family: var(--primary_font);
    display: inline-block;
    font-size: 20px;
    color: var(--color_white);
    letter-spacing: 1px;
    margin-top: 20px;
}